<!-- <h3>Items in sorted list </h3>
<table border = "1">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Short Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <found-item-description><td><button class="btn btn-primary" ng-click="ctrl.removeItem($index)">Don't want this one!</button></td></found-item-description>

    </tr>
  </tbody>
</table> -->

<li>
  <found-item-description></found-item-description>
  <button class="btn btn-primary" ng-click="ctrl.removeItem($index)">Don't want this one!</button>
</li>
